body {
    text-align: center;
    height: center;
    width: center;
    color: white;
    background: url(fondo_cine.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 100px;
}